<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Intranet" connectionString="Data Source=Atlas;Initial Catalog=Intranet;User Id=echizen;Password=mndrgr76;MultipleActiveResultSets=True" />
    <add name="WSConnectionString" connectionString="Data Source=mercurio;Initial Catalog=WorkSpace;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SUGIConnectionString" connectionString="Data Source=MERCURIO;Initial Catalog=SUGI;User ID=echizen;Password=mndrgr76;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="serverPath" value="C:\Users\jfallas\Documents\Sistemas\WorkSpace\WorkSpace\Content\" />
    <add key="serverViewPath" value="http://localhost:62042/" />
    <add key="AppViewPath" value="http://localhost:62042/" />
    <!--Log de errores-->
    <add key="LogPath" value="~\log\" />
    <!--Expresion regular para tipos de Archivos permitidos -->
    <add key="extArchivos" value="^.+(.doc|.DOC|.docx|.DOCX|.ppt|.PPT|.pptx|.PPTX|.pdf|.PDF|.xls|.XLS|.xlsx|.XSLX|.txt|.TXT)$" />
    <!--Correo del Admin de la App value="info.sugi@iica.int"-->
    <add key="AdminMail" value="jose.fallas@iica.int" />
    <add key="appName" value="WorkSpace" />
    <add key="ServerMail" value="oberon.iica.ac.cr" />
    <add key="ServerMailPort" value="25" />
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <httpModules>
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SKOSWSSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://agrovoc.uniroma2.it:8080/SKOSWS/services/SKOSWS"
        binding="basicHttpBinding" bindingConfiguration="SKOSWSSoapBinding"
        contract="Agrovoc.SKOSWS" name="SKOSWS" />
    </client>
  </system.serviceModel>
</configuration>